/* modals */

#simplemodal-container a.modalCloseImg {
	background:url(/resource/forum/x.png) no-repeat;
	width:25px;
	height:29px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-15px;
	right:-18px;
	cursor:pointer;
}

/* set these in theme */
#simplemodal-overlay {
/*	background-color:#000;*/
}

#simplemodal-container {
/*	background-color:#fbfbfb; border: 2px solid #f9f6f2; padding:12px;*/
}
